
#r,#p,#pwd,#eml{
  color: red;
text-align: center;

}

label {
    display: inline-block;
    width: 70px;
    text-align: left;
    margin-top: 3px; 
}
h3{
  text-align: center;
  color: blue;
}
.input{
  background-color: rgb(239, 245, 247);
}

.btn-primary{
    color: darkcyan;
    border-radius: 2px;
    margin-right: 100px; 
}
.btn-primary:hover {
  background-color:black; 
}
.form1{
  display:block;
  border :2px solid blue;
  height: 270px;
  width: 400px;
  text-align: center;
  margin-top: 40px;
  margin-left: 550px;
  background-color: rgb(238, 235, 230);
}