

<div class="form1">
    <h3>Sign Up Form</h3><hr>
    <form  #signupForm="ngForm" class="form-inline" (ngSubmit)="onSubmit(signupForm)">
        <div class="form-group">
            <label for="email">Email Id: </label>
            <input type="text" class="form-control" size="30" [(ngModel)]="model.email" #email="ngModel" id="email" name="email"
              placeholder="enter email Id"  required email />
        
        </div>
        <!-- <div *ngIf="signupform.submitted && email.invalid" class="invalid-feedback">
            <div id="r" *ngIf="email.errors.required">*email is required</div>
            <div id="eml" *ngIf="email.errors.email">*enter valid email address</div>
        </div> -->

       &nbsp;&nbsp;
        <div class="form-group">
            <label for="password">Password: </label>
            <input type="password" class="form-control"   size="30"  [(ngModel)]="model.password" #password="ngModel" id="password"
                name="password" minlength="6" placeholder="min 6 characters" required />
            
        </div>
        <!-- <div *ngIf="signupform.submitted && password.invalid" class="invalid-feedback">
            <div id="p" *ngIf="password.errors.required">Password is required</div>
            <div id="pwd" *ngIf="password.errors.minlength">*Password must be at least 6 characters</div>
        </div> -->

        
        <button type="submit" class="btn btn-primary" [disabled]="!signupForm.form.valid">Sign Up</button>

    </form>
</div>
